html {
	color: white;
	text-align: center;
	background: radial-gradient(#fff, #000);
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.entete {
	font-size: 2.5em;
	font-family: 'Anton', sans-serif;
}

.form {
	color: black;
	text-align: center;
	background: radial-gradient(circle, rgba(255, 128, 0, 1) 0%,
		rgba(255, 64, 0, 1) 90%, rgba(255, 48, 0, 1) 100%);
	height: auto;
	width: 380px;
	border-radius: 50px;
	padding: 20px;
	text-align: center;
	margin: auto;
	box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.5);
	text-align: center;
}

.align {
	display: block;
	width: 150px;
	float: left;
}

tr {
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	overflow: hidden;
	background-color: rgba(30, 30, 120, 1);
}

ul {
	list-style-type: none;
	margin: auto;
	width: 350px;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
}

li {
  float: left;
	width: 100px;
}

li .yes, .dropbtn {
  display: inline-block;
  width: 350px;
  color: black;
  text-align: center;
  padding: 14px 0px;
  text-decoration: none;
}

li .yes:hover, .dropdown:hover .dropbtn {
  background-color: rgba(200, 200, 200, 1);
	float: left;
	width: 318px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content .yes {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
	width: 318px;
}

.dropdown-content .yes:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
	display: block;
}

a {
	font-size: 15px;
	color: white;

}

.dropdown:hover .dropdown-content .hide{
	display: none;
}

.afficher, .modifier{
	background: #ff4848;
	width: 300px;
	height: 35px;
	margin: 5px auto 5px;
	font-weight: 999;
	font-family: 'Montserrat', sans-serif;
	border: 0px;
	font-size: 15px;
	color: #640000;
	box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.ajouter{
	background: #B0B1BF;
	width: 300px;
	height: 35px;
	margin: 5px auto 5px;
	font-weight: 999;
	font-family: 'Montserrat', sans-serif;
	border: 0px;
	font-size: 15px;
	color: black;
	box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.5);
}

.afficher:hover, .modifier:hover{
	background: #ff2020;
}

.ajouter:hover{
	background: #82838f;

}
